<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sentiment-webhooks-outlook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/83343ae6-3277-475f-8be1-946e5d6d9359/resourcegroups/AzTalk-rg/providers/Microsoft.Web/sites/Sentiment-Webhooks-Outlook</ResourceId>
    <UserName>$Sentiment-Webhooks-Outlook</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sentiment-webhooks-outlook.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>